.main {
  min-height: 100vh;
}

.navbar-user {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10vh;
}

h1.jumbotron {
    font: bold 80px/100px Times, serif;
}

.navbar .navbar-nav .nav-link {
  cursor: pointer !important;
}

.container-fluid .container img {
  cursor: pointer !important;
}

.search {
  margin-top: -10;
}

input:placeholder-shown {
  background-color:  #ffffff!important;
  color: #ffffff !important;
}